.fr_pagination li:nth-child(1) span:after {
    content: " - Outreach";
}

.fr_pagination li:nth-child(1) a:after {
    content: ".- Outreach";
}

.fr_pagination li:nth-child(2) span:after {
    content: " - Community liaison";
}

.fr_pagination li:nth-child(2) a:after {
    content: "- Community liaison";
}

.fr_pagination li:nth-child(3) span:after {
    content: " - Good Neighbor Policy";
}

.fr_pagination li:nth-child(3) a:after {
    content: "- Good Neighbor Policy";
}

.fr_pagination li:nth-child(4) span:after {
    content: " - Compassion program";
}

.fr_pagination li:nth-child(4) a:after {
    content: "- Compassion program";
}

.fr_pagination li:nth-child(5) span:after {
    content: " - Equity";
}

.fr_pagination li:nth-child(5) a:after {
    content: "- Equity";
}

.fr_pagination li:nth-child(6) span:after {
    content: " - Community benefits";
}

.fr_pagination li:nth-child(6) a:after {
    content: "- Community benefits";
}